

.hover-5 .hover-overlay {
  background: rgba(0, 0, 0, 0.4);
}

.hover-5-title {
  position: absolute;
  bottom: 1rem;
  left: 0;
  transition: all 0.3s;
  padding: 2rem 3rem;
  z-index: 99;
}

.hover-5-title span {
  transition: all 0.4s;
  opacity: 0;
  color: #47c650;
}

.hover-5:hover .hover-overlay {
  background: rgba(0, 0, 0, 0.8);
}

.hover-5:hover .hover-5-title {
  bottom: 0;
}

.hover-5:hover .hover-5-title span {
  opacity: 1;
}

.hover-5:hover::after {
  bottom: 0;
}

.xxd:hover {
  opacity: 0.5;
  background-color: #000;
  

}

.cover {
  object-fit: cover;
  background-color: black;
  
}

.pricingmargs {
  margin: 0px;
  padding: 0px;
}
.margs {
  margin-bottom: 10px;
  scroll-snap-align: start;
}

.smlty{
  padding-bottom:15%;
}
.smltyx{
  padding-bottom:10%;
}