@media (min-width: 1080px) 
{ 
    .zakladki{
        position:absolute; 
        top:3vw;
        width:90vw; 
        height:80vh; 
        left:5vw;
        font-size:3.5vh;  
        color:white
    }
    .zakladkiswitch a{
        color:white;
        font-size:2.5vh
    }
    .listazalet{
        padding-left: 30vw;  
        font-size:2.5vh;   
        list-style: initial;
    }
    .mapa{
        width:45vw;
        height:60vh
    }
    .kontaktyrozne{
        width:45vw; 
        height:60vh; 
        padding-top:1vh; 
        margin-top:15vh; 
        margin-left:7vw; 
        padding-left:6vw;
    }
    .karuzela{
        height:100vh;
        width:auto;
        margin:0;
        padding-left:0;
        padding-right:0;
    }
    .pokoj{
        width:33vw;
        height:100vh;       
    }
}

@media (max-width: 1079px) 
{ 
    .pokoj{
        width:100vw;
        height:100vh;       
    }
    .karuzela{
        height:auto;
        width:auto;
        margin:0;
        padding-left:0;
        padding-right:0;
    }
    .kontaktyrozne{
        width:90vw;  
        padding-top:1vh; 
        margin-top:1vh; 
        padding-left:1vw;
    }
    .mapa{
        width:90vw;
        height:60vh
    }
    .listazalet{
        padding-left: 20vw;  
        font-size:1.5vh;   
        list-style: initial;
    }
    .zakladki{
        font-size:2vh;
        position:absolute; 
        top:3vw;
        width:90vw; 
        height:80vh; 
        left:5vw;
        color:white
    }
    .zakladkiswitch a{
        color:white;
        font-size:3vh
    }
}

.proponas{
    background: #A3D6D4;   
    margin:0;
}

